@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@model WebApplication1.ViewModels.ProfileViewModel

<div class="row">
    <div class="col-2 menu">
            <input id="two" type="button" value="Find Routes" onclick="location.href='@Url.Action("Index", "Route")'" />
            <input id="two" type="button" value="Favorite Routes" onclick="location.href='@Url.Action("DisplayFavorites", "User")'" />
            <input id="two" type="button" value="Friends" onclick="location.href='@Url.Action("DisplayFriends", "User")'" /><a href="@Url.Action("DisplayFriendRequests", "User")">@ViewBag.FriendRequestAlert</a>
            <input id="two" type="button" value="Mail" onclick="location.href='@Url.Action("DisplayMail", "User")'" />@ViewBag.NewMessageAlert

            <input id="two" type="button" value="Trail Blaze!" onclick="location.href='@Url.Action("SaveRoute", "Route")'" />

            <input id="two" type="button" value="LogOff" onclick="location.href='@Url.Action("LogOff", "User")'" /><!-- TODO - Thank you https://stackoverflow.com/questions/2503923/html-button-calling-an-mvc-controller-and-action-method -->
       
    </div>
    <div class="col-1">

    </div>

    <div class="col-6">
        @if (ViewBag.DbSubmissionAlert != null)
        {
            <div class="error-alert">
            @ViewBag.DbSubmissionAlert
            </div>

        }
            @if (ViewBag.Favorites != null)
            {
                <h2>Favorite Routes:</h2>
                <div class="box">
                
                @foreach (Route route in ViewBag.FavoriteRoutes)
                {
                    <span><a asp-controller="Route" asp-action="DisplaySelectRoute" asp-route-id="@route.ID">@route.RouteName</a> | by: <a asp-controller="User" asp-action="Profile" asp-route-screenname="@route.CreatedByUser">@route.CreatedByUser</a> | <a id="logOffLink" asp-controller="Route" asp-action="RemoveFavoriteRoute" asp-route-id="@route.ID">Remove</a></span>
                    <hr />
                }
                
                </div>
            }

        @if (ViewBag.MailList != null)
        {
            <h2>Mail:</h2>
                <div class="box">
                    @foreach (Message message in ViewBag.MailList)
                    {
                        <p>@message.CreationTime</p>
                        <p>@message.Body</p>

                        <p>From: <a asp-controller="User" asp-action="Profile" asp-route-screenname="@message.SenderScreenName">@message.SenderScreenName</a></p>
                        <form asp-controller="User" asp-action="WriteMessage" method="post">
                            <input type="hidden" asp-for="ProfileUserScreenName" value="@message.SenderScreenName" />
                            <input id="three" type="submit" value="Reply" />
                        </form>
                        <a id="three" asp-controller="User" asp-action="RemoveMail" asp-route-id="@message.ID">Delete</a>
                            <hr />
                    }
                </div>

        }

        @if (ViewBag.FriendRequestList != null)
        {
            <h2>Friend Requests:</h2>
                <div class="box">
                    @foreach (FriendRequest request in ViewBag.FriendRequestList)
                    {
                        <p>From: <a asp-controller="User" asp-action="Profile" asp-route-screenname="@request.RequestingUserScreenName">@request.RequestingUserScreenName</a></p>
                        <form asp-controller="User" asp-action="AcceptFriendRequest" method="post">
                            <input type="hidden" asp-for="ProfileUserScreenName" value="@request.RequestingUserScreenName" />
                            <input id="three" type="submit" value="Accept" />
                        </form>
                        <a id="three" asp-controller="User" asp-action="DenyFriendRequest" asp-route-id="@request.ID">Deny</a>
                            <hr />
                    }
                </div>

        }

        @if (ViewBag.FriendsNames != null)
        {
            <h2>Friends:</h2>
                <div class="box">
                    @foreach (string friendsName in ViewBag.FriendsNames)
                    {
                        <p><a asp-controller="User" asp-action="Profile" asp-route-screenname="@friendsName">@friendsName</a></p>
                        <hr />
                    }
                </div>

        }

        
    </div>

    <div class="col-3">

    </div>
</div>


<div class="row">
    <div class="col-3 menu">
    </div>
    <div class="col-6">


    </div>

    <div class="col-3">

    </div>
</div>