@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication1.ViewModels.RegisterUserViewModel

@{

}
<div class="row">
    <div class="col-3 menu">
    </div>
    <div class="col-6">
        Register:
    </div>
    <div class="col-3">

    </div>
</div>

<div class="row">
    <div class="col-3 menu">
        <p><b>**Screen Name:</b><br />
        - First character must be a letter.<br/>
        - May only contain Letters and Numbers<br/>
        - Length between 6-12 characters.
        </p>
    </div>
    <div class="col-6">
        <form runat=server asp-controller="User" asp-action="Register" method="post">

            <div class="form-group">
                <label asp-for="ScreenName"></label>
                <input class="form-control" asp-for="ScreenName" />**
                <span asp-validation-for="ScreenName"></span><span class="error-alert">@if (ViewBag.ScreenNameInUse != null) { @ViewBag.ScreenNameInUse }</span>
            </div>
            <span class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </span><span class="error-alert">@if (ViewBag.EmailError != null) { @ViewBag.EmailError }</span>
            <span class="error-alert">@if (ViewBag.EmailInUse != null) { @ViewBag.EmailInUse }</span>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input runat=server type="password" id=txtPWord class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input runat=server type="password" id=txtRePWord class="form-control" asp-for="ConfirmPassword"/>
                <span class="error-alert">@if (ViewBag.PasswordMatchError != null) { @ViewBag.PasswordMatchError }</span>
                <span asp-validation-for="ConfirmPassword"></span>
                <div asp:CompareValidator runat=server
                                      ControlToValidate=txtRePWord
                                      ControlToCompare=txtPWord
                                      ErrorMessage="Passwords do not match." />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input class="form-control" asp-for="PhoneNumber" />
                <span>(Optional)</span>
                <span class="error-alert">@if (ViewBag.PhoneNumberError != null) { @ViewBag.PhoneNumberError }</span>
            </div>


            <input runat=server id="two" type="submit" value="Register!" />

        </form>
    </div>
    <div class="col-3">

    </div>
</div>