<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="@Url.Content("~/css/StyleSheet.css")" rel="stylesheet" type="text/css" />

    <!-- TODO: Notice the environment tag, when and should I utilize this?-->
    <!---
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    </environment>
    <environment include="Staging,Production">
        <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    </environment>
    -->

    <title>@ViewData["Title"] - WebApplication1</title>

    
</head>
<body>
    <div class="row">
        <header>
            @if (ViewBag.UserScreenName != null)
            {
                <span>
                <a id="two" asp-controller="User" asp-action="index">@ViewBag.UserScreenName's Home Page</a> | 
                <a id="two" asp-controller="User" asp-action="LogOff">LogOff</a>
                </span>
            }
            @if (ViewBag.SessionScreenName != null)
            {
                
                <h1>Hello @ViewBag.SessionScreenName!</h1>
                <span>Trails Blazed: @ViewBag.TrailsBlazed | Reviews Made: @ViewBag.ReviewsMade</span>
            }
            @if (ViewBag.SaveRoute != null)
            {
                <h1>Save A New Route!</h1>

            }
            @if (ViewBag.UnLoggedNavigation != null)
            {
                <div id="two"><a asp-controller="User" asp-action="LogOn">LogOn</a></div>
            }
        </header>
    </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebApplication1</p>
        </footer>
</body>
</html>
